<div id="aside">
<div class="bg">
	<div class="aside_body">
	  <div class='icon icons-news'></div>
	  <h2><%= t(:recent_articles) %></h2>
	  <ol>
		<% blog.local_articles[0...10].each do |article| %>
		  <li><%= link_to article.title, article %> <!--span><%= article.date.strftime('%B %e, %Y') %></span--></li>
		<% end %>
	  </ol>
	</div>
</div>
<div class="bg">
	<div class="aside_body">
	  <div class='icon icons-tag'></div>
	  <h2><%= t(:tags) %></h2>
	  <ol>
		<% blog.tags.each do |tag, articles| %>
		  <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
		<% end %>
	  </ol>
	</div>
</div>

<!--div class="bg">
	<div class="aside_body">
	  <h2><%= t(:by_year) %></h2>
	  <ol>
		<% blog.local_articles.group_by {|a| a.date.year }.each do |year, articles| %>
		  <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
		<% end %>
	  </ol>
	</div>
</div-->

</div>